# Python
__pycache__/
*.py[cod]
*-dev.py
*.so
*.pyd
*.pyc
*.egg-info/
.eggs/
build/
dist/
*.log

# Jupyter notebooks
.ipynb_checkpoints/
*.ipynb~

# VSCode / IDEs
.vscode/
.idea/

# Sphinx / mkdocs builds
_site/
docs/_build/

# OS
.DS_Store
Thumbs.db

# Custom project
Biblio/
tools4pyPhysChem/build/
Examples-dev/

# Swap and temporary
*~
*.swp
*.swo


dist/pyphyschemtools-0.7.5.tar.gz
